@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

#card-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;

  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.card {
  height: 100%;
  margin: 5px;
  border: 1px solid green;

  background-size: cover;

  transition: 1000ms;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50px;
}

.card--state-closed {
}

.card--state-open {
  flex-basis: 50%;
}
