@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
  --line-animation-duration: 100ms;
}

body {
  font-family: "Roboto", sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#steps-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

#steps-container .stepDot--selected ~ .stepDot {
  background: red;
}

.stepDot {
  width: 20px;
  border-radius: 50%;
  text-align: center;
  border: 1px solid var(--line-border-empty);

  transition: var(--line-animation-duration);
}

.stepDot--visited {
  border: 1px solid var(--line-border-fill);
}

.stepLine {
  width: 40px;
  height: 4px;
  background: var(--line-border-empty);
  transition: 1000ms;
}

.stepLineHighlight {
  width: 0px;
  height: 4px;
  background-color: var(--line-border-fill);
  transition: var(--line-animation-duration);
}

.stepLine--visited .stepLineHighlight {
  width: 40px;
}

.button {
  background: var(--line-border-fill);
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
  font-family: inherit;
}

.button:active {
  transform: scale(0.98);
}

.button:focus {
  outline: 0;
}

.button:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}
