@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

#steps-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#steps-container .stepDot--selected ~ .stepDot {
  background: red;
}

.stepDot {
  width: 20px;
  border-radius: 50%;
  text-align: center;
  border: 1px solid grey;

  transition: 1000ms;
}

.stepDot--visited {
  border: 1px solid blue;
}

.stepLine {
  width: 40px;
  height: 4px;
  background: lightgrey;
  transition: 1000ms;
}

.stepLineHighlight {
  width: 0px;
  height: 4px;
  background-color: blue;
  transition: 1000ms;
}

.stepLine--visited .stepLineHighlight {
  width: 40px;
}
