@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: palegoldenrod;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content_card {
  background: rgb(28, 100, 176);
  color: white;
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;

  width: 50%;
  height: 200px;
  padding: 20px;
  margin: 5px;
  border-radius: 10px;
}
